.post_item{
    width: 25%;
    padding:0 15px;
    &:nth-child(odd){
        .post_item_image_container{
            height: 473px;
        }
    }
   
    &:hover{
        img{
            transform: translateY(-30px);
            filter: brightness(100%); 
        }
    }
    a{
        text-decoration: none;
        color:black;
    }
    .post_item_image_container{
        height: 332px;
        
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;   
        transition: all 0.3s ease-in-out;
        filter: brightness(80%); 
    }
    .category_date{
        direction: rtl;
        text-align: right;
        display: flex;
        justify-content: space-between;
        padding-top:30px  ;
        .category_line{
          
            border-top:2px solid #818181;
            span{
                position: relative;
                top:-15px;
                left: -50px;
                background: #f5f3f1;
            }
        }
    }
    .category_title{
        direction: rtl;
        text-align: right;
        padding-bottom: 50px;
    }
}